/* Global styles */
body {
    font-family: 'Georgia', sans-serif;
    padding: 20px;
    font-size: 1.2rem;
}

@font-face {
    font-family: 'liu_jian_mao_caoregular';
    src: url('fonts/liujianmaocao-regular-webfont.woff2') format('woff2'),
         url('fonts/liujianmaocao-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Header styles */
header {
    text-align: center;
    margin-bottom: 30px;
    background-color: #496a87;
    color: #FFF;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}

header h2 {
    font-size: 1.5rem;
    margin-top: 10px;
}

/* Styles for input elements */
input[type="submit"], #returnButton, #restoreAll {
    background-color: #5a7a97; /* Derived from header color */
    color: #FFF;
    transition: all 0.3s ease;
}

input[type="submit"]:hover, #returnButton:hover, #restoreAll:hover {
    background-color: #3a5a77; /* Darker shade for hover */
}

/* Textarea styling */
#inputBox textarea {
    font-family: Georgia, "Apple Color Emoji", "Segoe UI Emoji";
    height: 180px;
    padding: 12px;
    margin-bottom: 18px;
    border-radius: 9px;
    font-size: 1.5rem;
    width: 100%;
    border: 2px solid #5a7a97; /* Border color derived from header color */
}

/* Styles for select and input elements */
select, input[type="submit"] {
    width: 100%;
    margin-bottom: 10px;
}

select {
    padding: 6px 18px;
    font-size: 1.5rem;
    border-radius: 9px;
    border: 2px solid #5a7a97; /* Border color derived from header color */
}

input[type="submit"] {
    padding: 12px 18px;
    border-radius: 9px;
    font-size: 1.5rem;
    border: none;
    color: #FFF;
    cursor: pointer;
}

.hidden {
    color: white;
    background-color: white !important;
}

.word {
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 1.5rem;
    border-radius: 5px;
    line-height: 1.5em;
}

.word:hover {
    background-color: #FFD700;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#usageBanner {
    display: block;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #496a87;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1.2rem;
    margin: 20px auto;
    text-align: center;
}

#usageBanner:hover {
    background-color: #496a87;
    color: #FFF;
}

#returnButton {
    padding: 12px 18px;
    border-radius: 9px;
    font-size: 1.5rem;
    border: none;
    color: #FFF;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    width: 100%;
    text-align: center;
}

#buttonGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#returnButton, #restoreAll {
    padding: 12px 18px;
    border-radius: 9px;
    font-size: 1.5rem;
    border: none;
    color: #FFF;
    cursor: pointer;
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

