body {
    font-family: Georgia, "Apple Color Emoji", "Segoe UI Emoji";
    padding: 16px; 
    font-size: 1.2rem; 
}

p {
    line-height: 1; 
}

.sentence-id {
    margin-right: 16px; 
}

textarea {
    height: 180px; 
    padding: 12px; 
    margin-bottom: 18px; 
    border-radius: 9px; 
    font-size: 1.5rem; 
    width: 100%;
}

select, input[type="submit"] {
    width: 100%;
    margin-bottom: 10px;
}

select {
    padding: 6px 18px; 
    font-size: 1.5rem; 
    border-radius: 9px; 
}

input[type="submit"] {
    padding: 12px 18px; 
    border-radius: 9px; 
    font-size: 1.5rem; 
    background-color: #007BFF;
    border: none;
    color: #FFF;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.hidden {
    color: white;
    background-color: white !important;
}

.word {
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 1.5rem; 
    border-radius: 5px; 
    line-height: 1.5em; 
}

.word:hover {
    background-color: #FFD700;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    text-align: center;
    margin-bottom: 30px;
    background-color: #007BFF;
    color: #FFF;
    padding: 20px 0;
    border-radius: 10px;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}

header h2 {
    font-size: 1.5rem;
    margin-top: 10px;
}

#usageBanner {
    display: block;
    padding: 10px 20px;
    background-color: transparent; /* Remove the background color */
    color: #007BFF; /* Use the primary color for the text */
    border: 2px solid #007BFF; /* Add a border to make it stand out */
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; /* Add transition for color as well */
    font-size: 1.2rem;
    margin: 20px auto; /* Center the banner */
    text-align: center; /* Ensure the text is centered */
}

#usageBanner:hover {
    background-color: #007BFF; /* Change background on hover */
    color: #FFF; /* Change text color on hover */
}


#returnButton {
    padding: 12px 18px;
    border-radius: 9px;
    font-size: 1.5rem;
    background-color: #007BFF;
    border: none;
    color: #FFF;
    cursor: pointer;
    margin-top: 20px; /* Add some margin to the top for spacing */
    display: block;   /* Make it a block element */
    width: 100%;      /* Make it full width */
    text-align: center; /* Center the text */
}

#returnButton:hover {
    background-color: #0056b3;
}

#buttonGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#returnButton, #restoreAll {
    padding: 12px 18px;
    border-radius: 9px;
    font-size: 1.5rem;
    background-color: #007BFF;
    border: none;
    color: #FFF;
    cursor: pointer;
    flex: 1; /* Allow buttons to take equal width */
    margin: 0 10px; /* Add some margin between the buttons */
    text-align: center;
}

#returnButton:hover, #restoreAll:hover {
    background-color: #0056b3;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 1.5rem; 
        padding: 8px;
    }
    textarea, select, input[type="submit"] {
        margin-bottom: 10px;
    }
    #usageBanner {
        display: none;
    }
}

