/* Global styles */
body {
    font-family: 'Arial', sans-serif; /* Set the default font for the body */
    padding: 20px;                    /* Padding around the body */
    font-size: 1.2rem;                /* Default font size */
}

/* Header styles */
header {
    text-align: center;               /* Center the header content */
    margin-bottom: 30px;              /* Space below the header */
    background-color: #FC5C7D;       /* Background color for the header */
    color: #FFF;                     /* Text color for the header */
    padding: 20px 0;                 /* Padding for the header */
    border-radius: 10px;             /* Rounded corners for the header */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Shadow effect for the header */
}

/* Styles for input elements */
input[type="submit"], #returnButton, #restoreAll {
    background-color: #6A82FB;       /* Background color for buttons */
    transition: all 0.3s ease;       /* Smooth transition effect for hover state */
}

input[type="submit"]:hover, #returnButton:hover, #restoreAll:hover {
    background-color: #4A62D1;       /* Darker background color on hover */
}

/* Textarea styling */
#inputBox textarea {
    font-family: Georgia, "Apple Color Emoji", "Segoe UI Emoji"; /* Font family for the textarea */
    height: 180px;                   /* Height of the textarea */
    padding: 12px;                   /* Padding inside the textarea */
    margin-bottom: 18px;             /* Margin below the textarea */
    border-radius: 9px;              /* Rounded corners for the textarea */
    font-size: 1.5rem;               /* Font size for the textarea */
    width: 100%;                     /* Full width textarea */
}

/* Styles for select and input elements */
select, input[type="submit"] {
    width: 100%;                     /* Full width for select and input elements */
    margin-bottom: 10px;             /* Margin below the select and input elements */
}

select {
    padding: 6px 18px; 
    font-size: 1.5rem; 
    border-radius: 9px; 
}

input[type="submit"] {
    padding: 12px 18px; 
    border-radius: 9px; 
    font-size: 1.5rem; 
    background-color: #007BFF;
    border: none;
    color: #FFF;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.hidden {
    color: white;
    background-color: white !important;
}

.word {
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 1.5rem; 
    border-radius: 5px; 
    line-height: 1.5em; 
}

.word:hover {
    background-color: #FFD700;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    text-align: center;
    margin-bottom: 30px;
    background-color: #007BFF;
    color: #FFF;
    padding: 20px 0;
    border-radius: 10px;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}

header h2 {
    font-size: 1.5rem;
    margin-top: 10px;
}

#usageBanner {
    display: block;
    padding: 10px 20px;
    background-color: transparent; /* Remove the background color */
    color: #007BFF; /* Use the primary color for the text */
    border: 2px solid #007BFF; /* Add a border to make it stand out */
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; /* Add transition for color as well */
    font-size: 1.2rem;
    margin: 20px auto; /* Center the banner */
    text-align: center; /* Ensure the text is centered */
}

#usageBanner:hover {
    background-color: #007BFF; /* Change background on hover */
    color: #FFF; /* Change text color on hover */
}


#returnButton {
    padding: 12px 18px;
    border-radius: 9px;
    font-size: 1.5rem;
    background-color: #007BFF;
    border: none;
    color: #FFF;
    cursor: pointer;
    margin-top: 20px; /* Add some margin to the top for spacing */
    display: block;   /* Make it a block element */
    width: 100%;      /* Make it full width */
    text-align: center; /* Center the text */
}

#returnButton:hover {
    background-color: #0056b3;
}

#buttonGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#returnButton, #restoreAll {
    padding: 12px 18px;
    border-radius: 9px;
    font-size: 1.5rem;
    background-color: #007BFF;
    border: none;
    color: #FFF;
    cursor: pointer;
    flex: 1; /* Allow buttons to take equal width */
    margin: 0 10px; /* Add some margin between the buttons */
    text-align: center;
}

#returnButton:hover, #restoreAll:hover {
    background-color: #0056b3;
}

